*{
    
    box-sizing: border-box;
    background-color: #EEEEEE;
    color: #232121;
    font-family: 'Inter', sans-serif;
    
}

header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
 gap: 20px;
 
}
html, body {
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 35px;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
    text-decoration: none;
    position: sticky;
    top: 0;
}
.landing-page{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.nav-container a {
  text-decoration: none;
  color: #232121;
  transition: color 0.3s;
}

.nav-container a:hover {
  color: gray;
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  .nav-container {
      flex-direction: column;
      gap: 5px;
      font-size: 6vw;

  }
  
  .vision-text{
    font-size: 6vw;
  }

}

.Jtextlocation{
    margin-bottom: -20px;
}

.Jtext{
    
    display: grid;
    place-items: center;
    border: 4px solid #232121;
    border-radius: 10px;
    width: 70px;
    align-items: center;
    padding: 5px;
    
    
}
.main-text{
    font-size: 80px;
    font-weight: bold;
    
}
.main-text-link {
  text-decoration: none; 
  color: inherit; 
  display: inline-block; 
}

.info-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    flex-wrap: wrap;

}
.text-element-collum {
  animation: fadeIn 1s ease-in-out forwards;
  display: flex;
  text-align: left;
  height: 100px;
  width: 400px;


  }

  @media (max-width: 768px) {
    .info-text {
        flex-direction: column; 
        align-items: center; 
    }
    .text-element-collum {
      width: 90%;
      margin-bottom: 20px;
  }

}


.contact{
    background-color: rgb(80, 140, 155);
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInleft {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  } 

.carousel {
  position: relative;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid #232121;
  background-color: #232121;
  color: #EEEEEE;
  border-radius: 10px;
  overflow: hidden;
  width: 100%; 
  box-shadow: 0 4px 8px;
  flex-shrink: 0; 
}

.project-card-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid #cdcbcb;
  background-color: #cdcbcb;
  color: #EEEEEE;
  border-radius: 10px;
  overflow: hidden;
  width: 100%; 
  box-shadow: 0 4px 8px;
  flex-shrink: 0; 
}


.project-card__image {
  overflow: hidden; 
  background-color: #232121;
  border-radius: 10px;
}

.project-card__image img {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  object-fit: cover;
  border-radius: 10px;
}

.project-card__image-2 {
  overflow: hidden; 
  background-color: #cdcbcb;
  border-radius: 10px;
}

.project-card__image-2 img {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  object-fit: cover;
  border-radius: 10px;
}

.project-card__content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232121;
}

.project-card__content h2 {
  margin: 0 0 10px; 
  font-size: 1.8rem;
  color: #cdcbcb;
  background-color: #232121;
}

.project-card__content p {
  margin: 5px 0;
  font-size: 1rem;
  color: #cdcbcb;
  line-height: 1.5;
  background-color: #232121;
}
.project-card__content-2 {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cdcbcb;
}

.project-card__content-2 h2 {
  margin: 0 0 10px; 
  font-size: 1.8rem;
  color: #232121;
  background-color: #cdcbcb;
}

.project-card__content-2 p {
  margin: 5px 0;
  font-size: 1rem;
  color: #232121;
  line-height: 1.5;
  background-color: #cdcbcb;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #EEEEEE;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.left-arrow {
  left: 5px;
  background-image: url('/image/arrow-left.png'); 
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}

.right-arrow {
  right: 5px;
  background-image: url('/image/arrow-right.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.left-arrow:hover {
  transform: translateY(-50%) translateX(-5px); 
  transition: transform 0.3s ease;
}

.right-arrow:hover {
  transform: translateY(-50%) translateX(5px); 
  transition: transform 0.3s ease;
}

.link-selection{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.link-selection-2{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.link-image1, .link-image2 {
  width: 30px;
  height: 30px;
  background-color: #232121;
}
.link-image1-2, .link-image2-2 {
  width: 30px;
  height: 30px;
  background-color: #cdcbcb;
}

.link-text1, .link-text2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: transparent;
  color: #EEEEEE;
  text-decoration: none;
}
.link-text1-2, .link-text2-2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: transparent;
  color: #201E43;
  text-decoration: none;
}



.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #232121;
}


@media (max-width: 768px) {
  .project-card {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .project-card__image img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}


.technologies{
    display: flex;
    gap: 15px;
    background-color: #232121;
}

.technologies-2{
  display: flex;
  gap: 15px;
  background-color: #cdcbcb;
}


.tech{
    border: 2px solid #EEEEEE;
    font-weight: bold;
    width: 60px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.tech2{
  border: 2px solid #EEEEEE;
  font-weight: bold;
  width: 120px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}
  
@media (max-width: 768px) {
    .project-card {
      grid-template-columns: 1fr;
      height: auto;
    }
  
    .project-card__image img {
      height: 200px;
    }
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100vh;

}
.project-text{
    font-size: 65px; 
    background-color: transparent;
}

.experience{
    display: flex;
    
    
}
.experience-text{
    font-size: 40px;
    margin: 4%;
    animation: fadein 0.8s ease-out forwards;
}


.position-full-width {
    display: flex;
    flex-direction: column;
    border: 2px solid #232121;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 20px;
    overflow: hidden;
    margin: 5%;
  }
  
  .position-content {
    display: flex;
    width: 100%;
  }
  
  .position-title-time, .position-description, .position-technologies {
    padding: 10px;
  }
  
  .position-title-time {
    width: 60%;
  }
  
  .position-description {
    width: 20%;
  }
  
  .position-technologies {
    width: 20%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    
  }
  

  
  .position-title {
    font-weight: bold;
  }
  
  .position-time {
    margin-top: 5px;
    color: #666;
  }
  
  .toggle-arrow {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #EEEEEE;
  } 
.extended-info.active ~ .toggle-arrow {
    bottom: 10px;
}

  .extended-info {
    display: none;
    background-color: #EEEEEE;
  }

  .extended-info-B{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .toggle-arrow img {
    width: 25px;
    height: 25px; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .toggle-arrow:hover img {
    transform: translateY(5px);
    
  }

  
  .position-full-width.active {
    max-height: 1000px;
  }
  .toggle-arrow.active img {
    transform: rotate(180deg);
  }
  .position-full-width.active .extended-info {
    display: block;
  }
 .technologies-info{
    border: 2px solid #232121;
    font-weight: bold;
    width: 60px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #EEEEEE;
    background-color: #232121;

 }
 
 
 .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

.fade-in.visible {
    animation: fadeIn 0.8s ease-out forwards;
}

.fade-in.left{
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.fade-in.left.visible {
  animation: fadeInleft 0.8s ease-out forwards;
}

.vision-page{
    height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.vision-text{
    font-size: 4vw;
    text-align: center;
    margin-right: min(5%);
    margin-left: min(5%);
}

 footer {

    height: 30vh;
    background-color: #232121; 
    color: #EEEEEE;
    text-align: right;
    padding: 50px 0 ;
    left: 0px;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-text{
    
    color: #EEEEEE;
    background-color: #232121;
    font-size: 40px;
    margin-right: 2.5%;
    justify-content: right;
    align-items: rigth;

    
}
.footer-resume{
    color: #EEEEEE;
    background-color: #232121;
    margin-right: 2.5%;
    
}
.resume-logo{
    background-color: transparent;
    width: 50px;
    height: 50px;
    
}
.footer-github{
    color: #EEEEEE;
    background-color: #232121;
    margin-right: 2.5%;
    
}
.github-logo{
    background-color: transparent;
    width: 50px;
    height: 50px;
    
}

.footer-brainmade{
  color: #EEEEEE;
  background-color: #232121;
   
}
.brainmade-logo{
  background-color: transparent;
  width: 170px;
  height: 50px;
  margin-right: 2.5%;
  
}
